#root {
  max-width: 1200px; /* Un ancho ligeramente diferente */
  margin: 20px auto; /* Más margen superior e inferior */
  padding: 20px; /* Padding uniforme */
  /* text-align: center; Esto podría ser removido si el contenido interno no debe estar centrado por defecto */
}
.navbar {
  background-color: var(--background-light); /* Usando una variable de color de index.css */
  color: var(--text-dark);
  padding: 15px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #eee;
}

.navbar-title h1 {
  margin: 0;
  font-size: 1.5em;
}

.navbar-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.navbar-links li {
  margin-left: 20px;
}

.navbar-links a {
  text-decoration: none;
  color: var(--text-dark);
  font-weight: 500;
  transition: color 0.3s ease;
}

.navbar-links a:hover {
  color: var(--primary-color); /* Usando otra variable de color */
}

.menu {
  background-color: var(--background-light);
  padding: 10px 20px;
  border-bottom: 1px solid #eee;
  text-align: center;
}

.menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: inline-block; /* Para centrar la lista */
}

.menu li {
  display: inline;
  margin: 0 15px;
}

.menu a {
  text-decoration: none;
  color: var(--secondary-color);
  font-weight: 400;
  transition: color 0.3s ease;
}

.menu a:hover {
  color: var(--primary-color);
}