:root {
  /* ... otras variables ... */
  --primary-color: #007bff; /* Un azul para botones y acentos */
  --secondary-color: #6c757d; /* Un gris para texto secundario */
  --background-dark: #181818;
  --text-light: rgba(255, 255, 255, 0.87);
  --background-light: #f8f9fa;
  --text-dark: #212529;
  --accent-color: #dc3545; /* Un rojo para alertas o promociones */
}

body {
  /* ... otros estilos ... */
  background-color: var(--background-dark);
  color: var(--text-light);
}

@media (prefers-color-scheme: light) {
  :root {
    color: var(--text-dark);
    background-color: var(--background-light);
  }
  a:hover {
    color: #535bf2;
  }
  button {
    background-color: #fff;
    color: var(--text-dark);
    border-color: #ccc;
  }
  button:hover {
    border-color: var(--primary-color);
  }
}

.item-list {
  list-style: none;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* Ejemplo de diseño en grid */
  gap: 20px;
}


